<h3>Concat 應用</h3>
<pre>
  <code>
    // 基礎使用
    <span class="red">import</span> {{'{'}} of {{'}'}} <span class="red">from</span> <span class="yellow">'rxjs/observable/of'</span>;
    <span class="red">import</span> {{'{'}} concat {{'}'}} <span class="red">from</span> <span class="yellow">'rxjs/operators'</span>;

    <span class="cyan">const</span> One <span class="red">=</span> <span class="vue-green">of</span>(1, 2, 3);
    <span class="cyan">const</span> Two <span class="red">=</span> <span class="vue-green">of</span>(4, 5, 6);
    <span class="cyan">const</span> example <span class="red">=</span> Two.<span class="vue-green">pipe</span>(<span class="vue-green">concat</span>(One));
    <span class="cyan">const</span> subscribe <span class="red">=</span> example.<span class="vue-green">subscribe</span>(<span class="orange">value</span> <span class="cyan">=></span> {{'{'}}
    console.log(<span class="yellow">'輸出: '</span>, <span class="orange">value</span>);
    {{'}'}})

    // 利用延遲concat
    <span class="red">import</span> {{'{'}} of {{'}'}} <span class="red">from</span> <span class="yellow">'rxjs/observable/of'</span>;
    <span class="red">import</span> {{'{'}} concat, delay {{'}'}} <span class="red">from</span> <span class="yellow">'rxjs/operators'</span>;

    <span class="cyan">const</span> One <span class="red">=</span> <span class="vue-green">of</span>(1, 2, 3);
    <span class="cyan">const</span> Two <span class="red">=</span> <span class="vue-green">of</span>(4, 5, 6);
    <span class="cyan">const</span> Three <span class="red">=</span> Two.<span class="vue-green">pipe</span>(<span class="vue-green">delay</span>(3000));
    <span class="cyan">const</span> Example <span class="red">=</span> Three.<span class="vue-green">pipe</span>(<span class="vue-green">concat</span>(One));
    <span class="cyan">const</span> Subscribe <span class="red">=</span> Example.<span class="vue-green">subscribe</span>(<span class="orange">value</span> <span class="cyan">=></span> {{'{'}}
      console.<span class="vue-green">log</span>(<span class="yellow">'輸出: '</span>, <span class="orange">value</span>);
    {{'}'}})
  </code>
</pre>