<h1>學習創建 Rxjs (給自己的筆記)</h1>
<a [routerLink]="['/com']" class="routerBtn">前往組合應用</a>
<a href="javascript:scroll(0,0)" class="topBtn">回頂端</a>
<p>創建 Observable 的方式, RxJS 常用的 creation operator</p>
<ul>
  <li><a href="#of">of</a></li>
  <li><a href="#from">from</a></li>
  <li><a href="#fromPromise">fromPromise</a></li>
  <li><a href="#fromEvent">fromEvent</a></li>
  <li><a href="#never">never</a></li>
  <li>empty</li>
  <li>throw</li>
  <li>interval</li>
  <li>timer</li>
</ul>
<of id="of"></of>
<br>
<from id="from"></from>
<br>
<frompromise id="fromPromise"></frompromise>
<br>
<fromEvent id="fromEvent"></fromEvent>
<br>
<boring id="never"></boring>