<h1>創建: Create - Rxjs (給自己的筆記)</h1>
<a [routerLink]="['/Operators']" class="routerBtn">操作: Operators</a>
<a href="javascript:scroll(0,0)" class="topBtn"><i class="fas fa-caret-circle-up fa-2x"></i></a>
<p>創建 Observable 的方式, RxJS 常用的 creation operator</p>
<ul>
  <li *ngFor="let even of data" class="li-menu"><a [ngxScrollTo]="'#' + even.href"
      [ngxScrollToDuration]="100">{{even.name}}</a></li>
</ul>
<br>
<of id="of"></of>
<br>
<from id="from"></from>
<br>
<frompromise id="fromPromise"></frompromise>
<br>
<fromEvent id="fromEvent"></fromEvent>
<br>
<boring id="never"></boring>
<br>
<timer id="interval"></timer>
<br>
<subscription id="Subscription"></subscription>