<h1>學習創建: Create - Rxjs (給自己的筆記)</h1>
<a [routerLink]="['/com']" class="routerBtn">操作: Operators</a>
<a href="javascript:scroll(0,0)" class="topBtn"><i class="fas fa-caret-circle-up fa-2x"></i></a>
<p>創建 Observable 的方式, RxJS 常用的 creation operator</p>
<ul>
  <li><a href="#of">of</a></li>
  <li><a href="#from">from</a></li>
  <li><a href="#fromPromise">fromPromise</a></li>
  <li><a href="#fromEvent">fromEvent</a></li>
  <li><a href="#never">never</a></li>
  <li><a href="#never">empty</a></li>
  <li><a href="#never">throw</a></li>
  <li><a href="#interval">interval</a></li>
  <li><a href="#interval">timer</a></li>
  <li><a href="#Subscription">Subscription</a></li>
</ul>
<of id="of"></of>
<br>
<from id="from"></from>
<br>
<frompromise id="fromPromise"></frompromise>
<br>
<fromEvent id="fromEvent"></fromEvent>
<br>
<boring id="never"></boring>
<br>
<timer id="interval"></timer>
<br>
<subscription id="Subscription"></subscription>